<div class="vote-product-lists">
  <% @products.each_with_index do |product, index| %>
  <div class="row product-item" id="product-<%= product.id %>">
    <div class="columns small-1">
      <input type="checkbox" value="0" id="index-<%= index + 1 %>" data-id="<%= product.id %>">
      </div>
      <div class="columns small-5">
      <label for="index-<%= index + 1 %>"><%= product.title %></label>
    </div>
    <div class="columns small-3">
      <img src="<%= product.picture %>">
    </div>
    <div class="columns small-3">
    <%= link_to vote_product_path(product), method: :delete, remote: true, data: {confirm: 'Are you sure to delete this itme?'} do %>
      <button class="button alert tiny"><%= t(:delete) %></button>
      <% end %>
    </div>
  </div>
  <% end %>

  <div class="row create-options">
    <ul class="even-2 button-group stack-for-small">
      <li><a href="/vote_products/new" class="button create-new-item"><%= t(:create_new_item) %></a></li>
      <li><a class="button create-voting"><%= t(:create_voting) %></a></li>
    </ul>
  </div>


  <!--背景层-->
  <div class="background-layer hidden"></div>

  <div class="datetime-dash hidden columns small-8 large-6">
    <input name="end_time" data-required="true" class="fdatepicker" placeholder="<%= t(:end_time) %>" id=>"dpd2" placeholder="<%= t(:end_time) %>" >
    <input type="text" name="name" class="voting-name" placeholder="<%= t(:voting_name) %>">
<button class="submit-voting hidden"><%= t(:submit) %></button>
  </div>
</div>