<div class="address-content">
  <% if controller_name == 'participants' || controller_name == 'groupbuys' %>
    <div class="left send-to">
      <%#if @parent && @parent.tag =='naked_hub'%>
        <%#= t(:contact) %>
      <%#else%>
        <%= t(:send_to) %>
      <%#end%>
    </div>
  <% else %>
  <div class="left <%= user_address.default == 1 ? 'checked' : 'unchecked' %>">
    <i class="fa fa-check-circle"></i>
  </div>
  <% end %>
  <div class="left address-detail" data-id="<%= user_address.id %>">
    <div class="name-mobile">
      <span class="name"><%= user_address.name %></span>
      <span class="mobile"><%= user_address.mobile %></span>
    </div>
    <%if @parent.tag!='naked_hub'%>
      <div class="address"><%= user_address.address %></div>
    <%end%>
  </div>
  <% if params[:id].nil? && %>
  <%= link_to user_address_path(user_address), method: :delete, confirm: t(:delete_insure) do %>
  <div class="right destroy-address">
    <i class="fa fa-trash"></i>
  </div>
  <% end %>
  <% end %>
  <% url = params[:id].present? ? user_addresses_path(groupbuy_id: params[:id]) : edit_user_address_path(user_address, groupbuy_id: @groupbuy_id) %>
  <%= link_to url do %>
  <div class="right edit-address" data-url='<%= user_addresses_path(groupbuy_id: params[:id]) %>'><i class="fa fa-pencil"></i></div>
  <% end %>

  <div class="clear"></div>
</div>
<hr />
