 <div class="navpath">
    <span>
      <%= link_to "首页", users_list_admins_path %>
    </span>
    <span class="slash">/</span>
    <span class="subpath">
      <%= link_to "用户列表", users_list_admins_path %>
    </span>
    <span class="slash">/</span>
    <span class="thirdpath">
     修改用户
    </span>
  </div>
<div>
<div class="large-12 medium-12 medium-centered columns">
  <%= form_for @user,url: update_user_admin_path(@user.id), method:'post', data: {abide: ''} do |f| %>
  <%= render 'layouts/form_errors', object: @user %>
  <div>
    <%= f.label :role %>
    <%= f.text_field :role, required: true%>
  </div>
  <div>
    <%= f.label :kol %>
    <%= f.text_field :kol%>
  </div>
  <div>
   <%= f.submit class:'tiny button radius right' %>
 </div>
 <% end %>

</div>

