<div class="participants_list">

  <div class="navpath">
    <span>
      <%= link_to "首页", users_list_admins_path %>
    </span>
    <span class="slash">/</span>
    <span class="subpath">
      <%= link_to "团购列表", groupbuys_list_admins_path(@groupbuy) %>
    </span>
    <span class="slash">/</span>
    <span class="thirdpath">
      红包列表(红包数：<%= Hongbao.count %>)
    </span>
  </div>
<div>


</div>
  <table>
    <tr>
      <th>姓名</th>
      <th>联系电话</th>
      <th>佣金</th>
      <th>订单号</th>
      <th>付款状态</th>
      <th>发货状态</th>
      <th>订货时间</th>
      <th>操作</th>
    </tr>
    <% @hongbaos.each do |hongbao| %>
    <tr>
      <td><%= hongbao.user.name %></td>
      <td><%= hongbao.user.mobile %></td>
      <td><%= hongbao.amount %></td>
      <td><%= hongbao.participant.id%></td>
      <td><%= is_paid hongbao.participant %></td>
      <td id="participant-<%= p.participant.id %>" ><%= is_shiped hongbao.participant %></td>
      <td><%= hongbao.created_at.strftime('%F %T') %></td>
      <td><td class="status">
          <%if hongbao.status==0%>
          <%=link_to '发送红包', send_bonus_admin_path(hongbao.id),class:'button'%>
            <div class='sent'>
            </div>
          <%else%>          
            hongbao.upated_at.strftime('%F %T')
          <%end%>
    </tr>
    <% end if @hongbaos%>
  </table>
  <%= will_paginate @hongbaos %>
</div>
