<% provide :title, t(:vote) %>
<div class="row">
  <div class="columns small-12 invite-vote">
    <% if session[:locale] == 'en' %>
    <%= @voting.present? ? 'There are several below options for next hot deal.You can use one vote per week to tell us your preference.Your vote matters!VOTE NOW' : 'No votings yet!' %>
    <% else %>
    <%= @voting.present? ? '请选择以下产品中您最喜欢的产品，得票追最高的将成为下一轮的热门团购。请投出您关键的一票吧！' : '暂无投票项目！' %>
    <% end %>
  </div>
</div>
<% provide :title, t(:voting) %>
<div class="row vote-product-tiems">
  <% @voting.vote_products.each do |product| %>
  <div class="columns small-6 product-item" data-id="<%= product.id %>">
    <div class="product-image">
      <%= image_tag product.picture %>
      <div class="hidden check-pic">
        <i class="fa fa-check fa-3x"></i>
      </div>
    </div>
    <div class="title">
      <%= product.title %>
    </div>
  </div>
  <% end %>
</div>
<input type="hidden" name="product" value='' data-voting-id="<%= params[:id] %>">
<div class="columns small-8 small-offset-2 <%= @show_result ? 'hidden' : '' %>">
  <button class="button success expand vote-submit"><%= t(:submit) %></button>
</div>

<div class="votes-counter <%= @show_result ? '' : 'hidden' %>" data-allvotes="<%= @all_votes %>">
  <hr />
  <div class="voting-result">
    <%= t(:voting_result) %>
  </div>
  <% @vote_products.each do |product| %>
  <div class="row">
    <div class="columns small-2">
      <%= image_tag product.picture %>
    </div>
    <div class="columns small-9 bar-and-number">
      <span class="bar-length"></span>
      <span class="votes-number" id="<%= product.id %>">
        <%= Vote.find_by(vote_product_id: product.id, voting_id: params[:id]).votes %>
      </span>
    </div>
  </div>
  <% end %>
</div>

