<div class="topic">
	<div class ="row">
		<div class="small-12 columns">
		  <h5><%= link_to topic.title, topic %></h5>
		  <p><%= markdown truncate(topic.body, length: 50, escape:false), links: false  %></p>
		</div>
	</div>
	<div class="row">
		<div class="small-10 columns">
		   <%= topic_info(topic) %>
		</div>
		<div class="small-2 columns text-center comments-count">
		  <a href="#" class="show-comments" data-url="<%=topic_comments_path(topic)%>"><i class="fa fa-comments"></i><strong><%= topic.comments_count %></strong></a><br>
		</div>
	</div>
</div>
<hr />

