<% provide :title, t(:topic) %>
<div class="topics panel columns radius ">
  <h2><%= @topic.title %></h2>
  <p><%= @topic.body.html_safe  %></p>
  <%= topic_info(@topic) %>
</div>
<div>   
    <% if current_user == @topic.user %>
      <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_topic_path(@topic), class:"tiny button radius" %>
      <%= link_to '<i class="fa fa-times"></i>'.html_safe, @topic,
                         method: :delete,
                         class:"tiny button alert radius",
                         data: {confirm: 'Delete?'} %>
    <% end %>
</div>
<div class="comments">
<h2><i class="fa fa-comment"></i> (<%= @topic.comments_count %>)</h2><hr>
  <%=render 'comments/form' ,:locals=>{@parent=>@parent,@comment=>@comment} %>
  <%= render @comments %>
</div>
<div>
  <%= link_to t(:new_comment), new_topic_comment_path(@topic),
                              class:"tiny button radius" if signed_in? %>
</div>
