<div class="logistic-content"> 
  <div class="left <%= logistic.default == 1 ? 'checked' : 'unchecked' %>">
    <i class="<%= 'fa fa-check-circle' if logistic.default? %>"></i>
  </div>
  <div class="left logistic-detail" data-id="<%= logistic.id %>">
    <div class="name-mobile">
      <span class="name"><%= logistic.name %></span>
    </div>  
  </div>
  <% if params[:id].nil? %>
    <%= link_to logistic_path(logistic), method: :delete, confirm: t(:delete_insure) do %>
    <div class="right destroy-logistic">
      <i class="fa fa-trash"></i>
    </div>
    <% end %>
  <% end %>
  <%# url = params[:id].present? ? logistics_path(groupbuy_id: params[:id]) : edit_logistic_path(logistic) %>
  <%= link_to edit_logistic_path(logistic) do %>
  <div class="right edit-logistic" ><i class="fa fa-pencil"></i></div>
  <div class="clear"></div>
  <% end %>

  <div class="clear"></div>
</div>
<hr />