<div>
	<%if current_user.user_addresses.size>0%>
	<%=render current_user.user_addresses%>		
	<%=link_to t(:new_address), new_user_address_url(groupbuy_id: params[:groupbuy_id]), class:"tiny button"%>
	<%else%>
	<% @user_address = UserAddress.new%>
	<%=render 'user_addresses/form' ,:locals=>{@user_address=>@user_address} %>
	<%end%>

</div>
<%= form_for form_params(@parent, @participant), data: {abide: ''} do |f| %>
<%= render 'layouts/form_errors', object: @participant %>

<div>
	<div class="columns small-10 left"><%= f.number_field :goods_amount, required: true,placeholder: t(:quantity)%></div>
	<div class="columns small-2"><%=@parent.goods_unit%></div>
	<div class="columns small-12 left deliver-time">
		<fieldset>
		<legend>送货时间</legend>
			<span class="date left">
				<fieldset>

					<label class="">
						<input type="radio" name="date" value="工作日">
						工作日
					</label>
					<label class="">
						<input type="radio" name="date" value="休息日">
						休息日
					</label>
					<label class="">
						<input type="radio" name="date" value="任意日期" checked="checked">
						任意日期
					</label>
					<div class="clear"></div>
				</fieldset>
			</span>

			<span class="time left">
				<fieldset>
					<label class="">
						<input type="radio" name="time" value="上午">
						上午
					</label>
					<label class="">
						<input type="radio" name="time" value="下午">
						下午
					</label>
					<label class="">
						<input type="radio" name="time" value="任意时段" checked="checked">
						任意时段
					</label>
					<div class="clear"></div>
				</fieldset>
			</span>
			<div class="clear"></div>
		</fieldset>
	</div>
	<%#= show_error_message('团购数量，不能为空！') %>
</div>
  	<!-- <div>
	    <%#= f.text_area :name, required: true, placeholder:t(:name)%>
	    <%#= show_error_message('联系人/收货人，不能为空！') %>
   </div>
   <div>
	    <%#= f.text_area :mobile, required: true,placeholder:t(:mobile)%>
	    <%#= show_error_message('联系电话，不能为空！') %>
   	</div>
	<div>
	    <%#= f.text_area :address, required: true, placeholder:t(:address)%>
	    <%#= show_error_message('收货地址，不能为空！') %>
	  </div> -->
	  <div>
	  	<%= f.text_area :remark, class:'comment-area',placeholder: t(:remark)%>
	  	<%#= show_error_message('备注，请不要超过500字') %>
	  </div>
	  <%= f.submit '提交', class:'tiny button radius' %>
	  <% end %>
