<div class="participant-show">

  <div class="seller-state">
    <div class="state-cont">
      <p class="apply-success">
        <%= t(:apply_success) %>
      </p>
    </div>
  </div>

  <div class="consignee">
    <div class="name-mobile">
      <span class="title"><%= t(:consignee) %>:</span>
      <span class="name"><%= @participant.name %></span>
      <span class="mobile"><%= @participant.mobile %></span>
    </div>
    <div class="address">
      <span class="address-title"><%= t(:address) %>:</span>
      <span class="address-detail"><%= @participant.address %></span>
    </div>
  </div>

  <div class="participant-information">
    <div class="info-title">
      <%= @participant.groupbuy_id.present? ? t(:groupbuy_detail) : t(:event_detail) %>
      <i class="fa fa-chevron-right"></i>
    </div>
    <div class="info-detail">
      <div class="row">
        <div class="columns small-3"><%= image_tag @title_pic %></div>
        <div class="columns small-9"><%= current_title @parent %></div>
      </div>
      <div class="row">
        <div class="columns small-3"><%= t(:amount) %></div>
        <div class="columns small-2 small-offset-7 amount-detail">x<%= @participant.quantity.to_i %></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>


  <div class="price-relative">
    <div class="row">
      <div class="columns small-3">
      <%= t(:area) %>
      </div>
      <div class="columns small-6 small-offset-3 price-detail">
        <%= @participant.area.to_s %>
      </div>

      <div class="columns small-3">
        <%= t(:unit_price) %>
      </div>
      <div class="columns small-3 small-offset-6 price-detail">
        <i class="fa fa-jpy"></i><%= @parent.current_price %>
      </div>
      <div class="columns small-3">
        <%= t(:discount) %>
      </div>
      <div class="columns small-3 small-offset-6 price-detail">
        <i class="fa fa-jpy"></i><%= @participant.discount.to_f %>
      </div>
      <div class="columns small-3">
        <%= t(:freightage) %>
      </div>
      <div class="columns small-3 small-offset-6 price-detail">
        <i class="fa fa-jpy"></i><%= @participant.freightage.to_f %>
      </div>

      <hr />
      <div class="columns small-3">
        <%= t(:total_price) %>
      </div>
      <div class="columns small-3 small-offset-6 total-price">
        <i class="fa fa-jpy"></i><%= @participant.total %>
      </div>
    </div>
    <div class="clear"></div>

    <div class="pay-button">
      <div class="columns small-4 small-centered">
        <%= link_to wechat_pay_path(participant_id: @participant.id) do %>
        <div class="button small expanded pay-button"><%= t(:pay_now) %></div>
        <% end %>
      </div>
      <div class="columns small-4 end hidden">
        <% message = session[:locale] == 'zh' ? '您的支付状态已改为待确认状态，请在微信中给 "iamchongyou" 留言，或者发送邮件至"du@iotps.com"进行支付！' : 'Your pay status is now TO BE CONFIRMED, please leave message in WeChat to "iamchongyou" or send an email to "du@iotps.com" to pay for it offline ' %>
        <div class="button tiny pay-offline" data-id="<%= params[:id] %>" data-url="<%= participant_path(@participant) %>" data-message="<%= message %>" data-redirect="<%= @path %>"><%= t(:pay_offline) %></div>

      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
