<% provide :title, t(:contact_us) %>
<div class="contact-us">

  <div class="contacts contents">
    <span class="name-right"><%= t(:contacts) %></span>
    <span class="value-left"><%= image_tag '/qrcode_for_groupmall.jpg' %></span>
  </div>

  <div class="wechat contents">
    <span class="name-right"><%= t(:wechat) %></span>
    <span class="value-left">iamchongyou</span>
  </div>

  <div class="email contents">
    <span class="name-right"><%= t(:email) %></span>
    <span class="value-left">info@iotps.com</span>
  </div>

  <div class="mobile contents">
    <span class="name-right"><%= t(:office_line) %></span>
    <span class="value-left">021-62531770-9072</span>
  </div>

  <div class="mobile contents">
    <span class="name-right"><%= t(:work_time) %></span>
    <span class="value-left">09:00 - 18:00  <%= t(:workday) %></span>
  </div>

</div>