<% provide :title, t(:hongbaos) %>
<table>
<caption> <% if session[:locale] == 'zh' %>
    共<%= @hongbaos.count %>个红包
    <% else %>
    <%= pluralize @hongbaos.count, 'hongbao' %> total
    <% end %></caption>

  <% @hongbaos.each do |hongbao| %>
  <tr><td>     

      <div class="rows">
        <div class="columns small-4">
          <%= t(:status) %>
        </div>
        <div class="columns small-8 content">
          <%= hongbao.status_text %>
        </div>
        <div class="clear"></div>
      </div>
      <div class="rows">
        <div class="columns small-4">
          <%= t(:amount) %>
        </div>
        <div class="columns small-8 content">
          ￥<%= hongbao.amount %>
        </div>
        <div class="clear"></div>
      </div>

       <div class="rows">
        <div class="columns small-4">
          <%= t(:buyer) %>
        </div>
        <div class="columns small-8 content">
          <%= hongbao.participant.user.name %>
        </div>
        <div class="clear"></div>
      </div>

      <div class="rows">
        <div class="columns small-4">
          <%= t(:created_at) %>
        </div>
        <div class="columns small-8 content">
          <%= hongbao.created_at.strftime('%F %T') %>
        </div>
        <div class="clear"></div>
      </div>

    </td></tr>
  <% end %>
</table>