

<%= link_to event do %>
<div class="event">
  <div class="event-pic">
    <img src="<%= event.pic_url %>" />
  </div>
  <div class="event-info">
    <div class="event-title">
      <%= event.title %>
    </div>
    <div class="event-id-name">
      <span class="event-id">
        <%= "[No. 000000000#{event.id}]" %>
      </span>
      <span class="event-name">
        <%="#{t(:by)}: #{event.name}" %>
      </span>
    </div>
    <div class="event-other-info">
      <span class="price">
      <i class="fa fa-cny"></i><%=event.price %>
      </span>
      <span class="participants">
       <i class="fa fa-user"></i>(<%=event.participants_count%>)
      </span>
      <span class="comments">
        <i class="fa fa-comment"></i>(<%=event.comments_count%>)
      </span>
    </div>
  </div>
  <div class="clear"></div>
</div>
<% end %>

