<div class="large-12 medium-12 medium-centered columns">
<%= form_for @event, data: {abide: ''}  ,:html => {:multipart => true} do|f| %>
  <%= render 'layouts/form_errors', object: @event %>
  <input type="hidden", name='photo_ids' value="" class="pic-ids">
  <input type="hidden", name='delete_ids' value="" class="delete-ids">
  <div>
    <%= f.text_field :title, required: true,placeholder: "#{t(:title)}" %>
   <!--  <%#= show_error_message('活动名称，不能为空！') %> -->
  </div>
  <div>    
    <p><%=t(:please_choose_event_duration)%></p>
   <table class="table">
      <thead>
        <tr>
          <th> <%#= f.label :start_time %>
            <%= f.text_field :start_time, :value => (@event.start_time.nil? ? nil : l(@event.start_time)), required: true,:class=>"fdatepicker",:id=>"dpd2",placeholder: t(:start_time) %>
          </th>
          <th><%#= f.label :end_time %>
           <%= f.text_field :end_time, :value => (@event.end_time.nil? ? nil : l(@event.end_time)),  required: true,:class=>"fdatepicker",:id=>"dpd1",placeholder: t(:end_time)%>
         </th>
       </tr>
     </thead>
   </table>
  </div>

  <div>    
    <p><%=t(:event_address)%></p>
    <div class="row collapse">
      <div class="columns small-12"><%= f.text_field :address, placeholder: t(:detail_address) %></div>
    </div>
  </div>
 
  
  <div>
    <%= f.text_field :limited_people,placeholder: t(:limited_people)%>
  </div>
  <div class="free-checkbox">
    <%= check_box_tag :price, t(:free), true, class: 'free-event' %><span class="free-label"><%= t(:free) %></span>
  </div>
  <div class="event-price" style="display:none">
    <%= f.text_field :price,placeholder: t(:price)%>
  </div>
 <!--  <div>
    <%= f.text_field :name, required: true, placeholder: '姓名'%>
    <%= show_error_message('活动联系人')%>
  </div>
  <div>
    <%= f.text_field :mobile, required: true, placeholder: '手机'%>
    <%#= show_error_message('活动联系电话')%>
  </div> -->
  <div>
    <%#= f.label :body %>
    <%= f.text_area :body,placeholder: t(:content), rows: 10%>
    <!-- <%#= f.cktext_area :body, :class => 'someclass', :ckeditor => {:language => 'zh'} , required: true%> -->
    <!-- <%#= show_error_message('内容请不要超过1千字')%> -->
  </div>
  <div>
     <%= f.submit class:'tiny button radius right' %>
  </div>
<% end %>
<form action="<%= photos_path %>" class="dropzone" id="my-dropzone" enctype="multipart/form-data">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token.to_s %>">
  <input type="hidden" name="parent" value="<%= params[:controller] %>">
</form>
</div>
