<% provide :title, "#{t(:event)}: #{@event.title}" %>
<div class="row">
  <div class="large-12 columns">
    <div class="large-2 columns">
      <%= image_tag @event.pic_url, class: 'profile-image round' if @event %>
    </div>

    <div class="large-10 columns">
      <h2><%= "[No.000000000#{@event.id}]#{@event.title}"%></h2>      
    </div>
    <div>
      <table style="width:100%">
        <tr>
          <th><%=t(:start_time)%></th>
          <td><%= @event.start_time.strftime("%Y-%m-%d %H:%M") %></td>
        </tr>
        <tr>
          <th><%=t(:end_time)%></th>
          <td><%=@event.end_time.strftime("%Y-%m-%d %H:%M")%></td>
        </tr>
        <tr>
          <th><%=t(:goods_big_than)%></th>
          <td><%=@event.goods_big_than%><%=@event.goods_unit%></td>
        </tr>
        <tr>
          <th><%=t(:price)%></th>
          <td>￥<%=@event.price%>/<%=@event.goods_unit%></td>
        </tr>
        <tr>
          <td colspan='2'><%= @event.body.html_safe  %></td>
        </tr>
      </table>
      <!-- <p><%=@event.event_type%></p> -->
      <!-- <p><%=@event.limited_people%>人</p> -->
      <!-- <p><%=@event.goods_small_than%><%=@event.goods_unit%></p> -->
      <!-- <p>联系人：<%=@event.name%></p>
      <p>电话：<%=@event.mobile%></p><hr> -->
      <%= event_info(@event) %>
    </div>
    <div>
      <%if signed_in?%>
        <% participant = Participant.find_by(user_id: current_user.id)%>
        <% if @event.id == participant.try(:event_id) && participant.status_pay == 0 %>
        
        <!--<form method="post" class="pay-form" action="/events/<%= @event.id %>/participants/<%#= participant.id %>/wechat_pay">
          <input type="hidden" name="openid" value="<%#= current_user.weixin_openid %>">
          <input type="hidden" name="money" value="<%#= @event.price * participant.goods_amount %>">
          <input type="hidden" name="request_forgery_protection_token" value="<%= form_authenticity_token %>">
          <input type="submit" value="立即支付">
        </form>-->

          <%= form_tag wechat_pay_event_participant_path(@event.id, participant.id) do %>
            <%= hidden_field_tag :openid, current_user.weixin_openid %>
            <%= hidden_field_tag :money, @event.price * participant.goods_amount %>
            <%= submit_tag "立即支付" %>

          <% end %>
        <%end%>

      <% end %>

      <% if current_user == @event.user %>

        <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_event_path(@event), class:"tiny button radius" %>
        <%= link_to '<i class="fa fa-times"></i>'.html_safe, @event,method: :delete,
                  class:"tiny button alert radius",
                  data: {confirm: 'Konuyu silmek istediğinize emin misiniz?'} %>
      <% end %>
     </div>

     <div class="comments">
       <ul class="tabs" data-tab role="tablist">
        <li class="tab-title active"><a href="/events/#<%= params[:id] %>/participants/new"><i class="fa fa-user"></i><%=t(:participant)%> (<%=@event.participants_count%>)</a></li>
        <li class="tab-title"><a href="#comments"><i class="fa fa-comment"></i><%=t(:comment)%> (<%=@event.comments_count%>)</a></li>
      </ul>
      <div class="tabs-content">
        <div class="content active" id="participants">
          <%= render @participants %>
        </div>
        <div class="content" id="comments">
         <%= render @comments %>
       </div>
     </div>
   </div>


 </div>
</div>


