<div class="create-vote-product">
  <%= form_for @wishlist, multipart: true do |f| %>
  <input type="hidden" name="wishlist[user_id]" value="<%= current_user.id %>">
  <div class="row">
    <div class="columns small-10 small-offset-1">
      <%= f.text_field :title, placeholder: 'Title' %>
    </div>
  </div>

  <div class="row">
    <div class="columns small-5 small-offset-1">
      <%= f.file_field :picture %>
    </div>
    <div class="columns small-5 small-offset-1">
      <img src=''>
    </div>
  </div>

  <div class="row">
    <div class="columns small-10 small-offset-1">
      <%= f.text_field :price, placeholder: 'Price' %>
    </div>
  </div>

  <div class="row">
    <div class="columns small-10 small-offset-1">
      <%= f.text_area :description, placeholder: 'Description', rows: 5 %>
    </div>
  </div>

  <div class="row">
    <div class="columns small-10 small-offset-1">
      <%= f.submit t(:submit), class: 'button success small' %>
    </div>
  </div>
  <% end %>
</div>