
<div class="small-12 columns">

<%= form_for(Photo.new) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row drop">
    <div id="dropzone" class="fade well col-md-12">Drop files here</div>
    <div class="col-md-12">
      <span class="btn btn-success fileinput-button">
          <i class="glyphicon glyphicon-plus"></i>
          <span>Select files...</span>
          <!-- The file input field used as target for the file upload widget -->
          <%= f.file_field :image, multiple: true, name: "photo[image]" %>
      </span>
    </div>
  </div>
  <br>
  <div id="progress" class="progress">
      <div class="progress-bar progress-bar-success"></div>
  </div>
  <div id="preview" class="row">
    <div class="media hide">
      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/64x64" src="" alt="">
      </a>
      <div class="media-body">
        <h4 class="media-heading"></h4>
        <a href="#" class="btn btn-danger delete" role="button">Delete</a>
      </div>
    </div>
  </div>
<% end %>


  <%= form_for @groupbuy, data: {abide: ''}  ,:html => {multipart: true, class: 'new-form'} do|f| %>
  <%= render 'layouts/form_errors', object: @groupbuy %>
  <%#= f.hidden_field :pic_url, '', class: 'pic_urls' %>
  <input type="hidden", name='pic_url' value="<%= params[:id].present? ? @groupbuy.pic_url : '' %>" class="pic_urls">
  <!--images[] returned to the album as an array. We use file_field_tag since images is not @album's attribute-->
    <%#= file_field_tag "images[]", type: :file, multiple: true %>
  <div>
    <%= f.text_field :title, required: true,placeholder: "#{t(:groupbuy)} #{t(:title)}" %>
    <!--  <%#= show_error_message('团购名称，不能为空！') %> -->
  </div>
  <div>
    <p><%=t(:please_choose_groupbuy_duration)%></p>
    <table class="table">
      <thead>
        <tr>
          <th> <%#= f.label :start_time %>
            <%= f.text_field :start_time, required: true,:class=>"span2",:id=>"dpd2",placeholder: t(:start_time)%>
          </th>
          <th><%#= f.label :end_time %>
           <%= f.text_field :end_time, required: true,:class=>"span2",:id=>"dpd1",placeholder: t(:end_time)%>
         </th>
       </tr>
     </thead>
   </table>
 </div>

</div>
<div class='groupbuy-conditions row collapse'>
  <div class="small-3 columns">
    <span class="price postfix">
      <%= t(:price) %>
    </span>
  </div>
  <div class="small-2 columns">
    <span class="price postfix">
      <!-- <%#= f.label :price %> -->
      <%= f.text_field :price %>
    </span>
  </div>

  <div class="small-5 columns">
    <span class="market_price postfix">
      <%= t(:market_price) %>
    </span>
  </div>
  <div class="small-2 columns">
    <span class="market_price postfix">
      <%= f.text_field :market_price %>
    </span>
  </div>


  <div class="small-3 columns">
    <span class="goods-unit postfix">
      <%= t(:goods_unit) %>
    </span>
  </div>
  <div class="small-2 columns">
    <span class="goods-unit postfix">
      <%= f.text_field :goods_unit %>
    </span>
  </div>

  <div class="small-5 columns">
    <span class="market_price postfix">
      <%= t(:goods_minimal) %>
    </span>
  </div>
  <div class="small-2 columns">
    <span class="goods-minimal postfix">
      <!-- <%#= f.label :goods_minimal %> -->
      <%= f.text_field :goods_minimal %>
    </span>
  </div>

</div>

<div class="row collapse goods-maximal">
  <div class="small-3 columns">
    <span class="postfix"><%= t(:inventory) %></span>
  </div>
  <div class="small-6 columns">
    <span class="postfix">
      <%= f.text_field :goods_maximal %>
    </span>
  </div>
  <div class="small-3 columns">
    <span class="postfix goods-unit-blank"></span>
  </div>
</div>
<div>

  <%= f.text_area :body,placeholder: t(:body), rows: 5%>

</div>

<div>
 <%= f.submit class:'tiny button radius right' %>
</div>
<% end %>
</div>




