
<div class="small-12 columns">
  <div class="hidden">
    <form id ="file_form" action='upload' remote="true" enctype="multipart/form-data" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="WUHTyYOI1b5+1v5SzEsqY6FoK2z0GFvB5tW3FGSjOIHwhv+kLtMT4yPjbM8w7MZXq3PTuRutm+FvDxrfO/QXeA==" />
      <label for="file">File to Upload</label>
      <input type="file" id ="file" name="file"%>
      <div class="submit-button"><input type="submit"></div>
    </form>
  </div>
  <%= form_for @groupbuy, data: {abide: ''}  ,:html => {class: 'new-form'} do|f| %>
  <%= render 'layouts/form_errors', object: @groupbuy %>
  <%#= f.hidden_field :pic_url, '', class: 'pic_urls' %>
  <input type="hidden", name='pic_url' value="<%= params[:id].present? ? @groupbuy.pic_url : '' %>" class="pic_urls">
  <div>
    <%= f.text_field :title, required: true,placeholder: "#{t(:groupbuy)} #{t(:title)}" %>
    <!--  <%#= show_error_message('团购名称，不能为空！') %> -->
  </div>
  <div>
    <p><%=t(:please_choose_groupbuy_duration)%></p>
    <table class="table">
      <thead>
        <tr>
          <th> <%#= f.label :start_time %>
            <%= f.text_field :start_time, required: true,:class=>"span2",:id=>"dpd2",placeholder: t(:start_time)%>
          </th>
          <th><%#= f.label :end_time %>
           <%= f.text_field :end_time, required: true,:class=>"span2",:id=>"dpd1",placeholder: t(:end_time)%>
         </th>
       </tr>
     </thead>
   </table>
 </div>

</div>
<div class='groupbuy-conditions row collapse'>
  <div class="small-3 columns">
    <span class="price postfix">
      <%= t(:price) %>
    </span>
  </div>
  <div class="small-2 columns">
    <span class="price postfix">
      <!-- <%#= f.label :price %> -->
      <%= f.text_field :price %>
    </span>
  </div>

  <div class="small-5 columns">
    <span class="market_price postfix">
      <%= t(:market_price) %>
    </span>
  </div>
  <div class="small-2 columns">
    <span class="market_price postfix">
      <%= f.text_field :market_price %>
    </span>
  </div>


  <div class="small-3 columns">
    <span class="goods-unit postfix">
      <%= t(:goods_unit) %>
    </span>
  </div>
  <div class="small-2 columns">
    <span class="goods-unit postfix">
      <%= f.text_field :goods_unit %>
    </span>
  </div>

  <div class="small-5 columns">
    <span class="market_price postfix">
      <%= t(:goods_minimal) %>
    </span>
  </div>
  <div class="small-2 columns">
    <span class="goods-minimal postfix">
      <!-- <%#= f.label :goods_minimal %> -->
      <%= f.text_field :goods_minimal %>
    </span>
  </div>

</div>

<div class="row collapse goods-maximal">
  <div class="small-3 columns">
    <span class="postfix"><%= t(:inventory) %></span>
  </div>
  <div class="small-6 columns">
    <span class="postfix">
      <%= f.text_field :goods_maximal %>
    </span>
  </div>
  <div class="small-3 columns">
    <span class="postfix goods-unit-blank"></span>
  </div>
</div>
<div>
  <%#= f.label :body %>
  <%= f.text_area :body,placeholder: t(:body), rows: 5%>
  <!-- <%#= f.cktext_area :body, :class => 'someclass', :ckeditor => {:language => 'zh'} , required: true%> -->
  <!-- <%#= show_error_message('内容请不要超过1千字')%> -->
</div>

<div>
 <%= f.submit class:'tiny button radius right' %>
</div>
<% end %>
</div>
<div class="upload-forms" style="margin-bottom: 50px;">
  <div class="upload-form">
    <%= form_tag groupbuys_upload_path, remote: true, html: {:multipart => true} do %>
    <%= hidden_field_tag request_forgery_protection_token.to_s, form_authenticity_token %>
    <div class="row">
      <div class="columns small-4">
        <%= file_field_tag :file %>
      </div>
      <div class="columns small-4">
        <%= submit_tag '提交' %>
      </div>
      <div class="columns small-3 pic-show" style="display: none;">
        <img src="" style="width:20%;">
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="upload-form-hidden" style="display: none;">
  <%= form_tag groupbuys_upload_path, remote: true, html: {:multipart => true, class: "upload-file"} do %>
  <%= hidden_field_tag request_forgery_protection_token.to_s, form_authenticity_token %>
  <div class="row">
    <div class="columns small-4">
      <%= file_field_tag :file %>
    </div>
    <div class="columns small-4">
      <%= submit_tag '提交' %>
    </div>
    <div class="columns small-3 pic-show" style="display: none;">
      <img src="" style="width:20%;">
    </div>
  </div>
  <% end %>
</div>


