<div class="groupbuy-list">
  <div class="row">
    <div class="columns small-4">
      <%= link_to groupbuy do %>
      <img src="<%= groupbuy.pic_url %>"/>
      <%end%>
    </div>
    <div class="columns small-8">
      <h4 class="groupbuy-name"><%= link_to groupbuy.title, groupbuy%></h4>
      <div class="groupbuy-number">
        <span class="number"><%= "No. #{groupbuy.id.to_s.rjust(10,'0')}" %></span>
        <span class="participant-count">
        <a href="#" class="show-participants" data-url="<%=groupbuy_participants_path(groupbuy, from: 'groupbuy_list')%>">
          <i class="fa fa-user-plus"></i>(<%=groupbuy.participants_count%>)</a>
        </span>
        <span class="comment-count">
          <a href="#" class="show-comments" data-url="<%=groupbuy_comments_path(groupbuy)%>">
        <i class="fa fa-comments"></i>(<%=groupbuy.comments_count%>)
      </a>
        </span>
      </div>
      <small class="money"> 
        <div class="row radius callout all-kinds-of-money">
          <div class="columns small-4 groupbuy-price">
            <span class="price save"><i class="fa fa-cny"></i><%=groupbuy.price %></span>
          </div>
          <div class="columns small-4">
            <span class="price market"><i class="fa fa-cny"></i><%=(groupbuy.price*1.8).to_i %></span>
          </div>
          <div class="columns small-4">
            <span class="price save"><%=t(:save)%>:&nbsp;40%</span>
          </div>
        </div>    
      </small>
    </div>
  </div>
  <div class="row round">

    
    <div class="columns small-12 avatar">
      <%groupbuy.participants.limit(5).each do |p|%>
      <a href="#" class="show-comments">
       <img class="user-thumb" src="<%=p.user.avatar%>" alt="<%=p.user.nickname%>"/>
     </a>

     <%end%>
   </div>
 </div>
</div>
<hr />


