<div class="groupbuy-list" data-endtime="<%= groupbuy.end_time.to_i %>" data-day="<%= t(:day) %>">
  <div class="row">
    <div class="columns small-4">
      <%= link_to groupbuy,class: "th" do %>
        <%= image_tag groupbuy.pic_url.split(',')[1] %>
      <%end%>
    </div>
    <div class="columns small-8">

      <h4 class="groupbuy-name"><%= link_to groupbuy.title, groupbuy%></h4>

        <div class="row radius callout all-kinds-of-money">
          <div class="columns small-6 groupbuy-price" style="line-height:100%">
            <span class="price save"><i class="fa fa-cny"></i><%=groupbuy.price %></span><br>

            <small class="money">  <span class="price market"><i class="fa fa-cny"></i><%=(groupbuy.market_price).to_i %></span></small>
          </div>
          <div class="columns small-6">
            <span class="price save"><%=t(:save)%>:&nbsp;<%= (((groupbuy.market_price - groupbuy.price) / groupbuy.market_price) * 100).round(2) %>%</span>
          </div>
        </div>

        <div class="countdown">
          <span class="countdonw-title"></span>
          <span class="countdown-day"></span>
          <span class="countdown-hour"></span>
          <span class="countdown-minute"></span>
          <span class="countdown-second"></span>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="columns small-12 list_button">
      <ul class="button-group even-2" >
        <li>
        <a href="#" class="<%= 'show-participants' if groupbuy.end_time.to_i > Time.zone.now.to_i %> button tiny secondary" data-url="<%=groupbuy_participants_path(groupbuy)%>">
            <i class="fa fa-user-plus"></i><%=t(:buys)%>(<%=groupbuy.participants_count%>)</a>
          </li>
          <li>
        <a href="#" class="show-participants button tiny secondary"  data-url="<%=groupbuy_comments_path(groupbuy)%>" data-id="<%= groupbuy.id %>" data-more="<%= t(:more) %>" data-controllername="groupbuys">
              <i class="fa fa-comments"></i><%=t(:comments)%>(<%=groupbuy.comments_count%>)
        </a>
      </li>
      </ul>
    </div>
  </div>
</div>
