<div class="panel radius">
<div class="row">
  <div class="columns small-4">
    <%= link_to groupbuy do %>
    <img src="<%= groupbuy.pic_url %>"/>
    <%end%>
  </div>
  <div class="columns small-8">
    <h4><%= link_to groupbuy.title, groupbuy%></h4>
    <small> 
    <div class="row panel radius callout" style="padding:5px;">
      <div class="columns small-4">
        <span class="price save"><i class="fa fa-cny"></i><%=groupbuy.price %></span>
      </div>
      <div class="columns small-4">
        <span class="price market"><i class="fa fa-cny"></i><%=(groupbuy.price*1.8).to_i %></span>
      </div>
      <div class="columns small-4">
        <span class="price save"><%=t(:save)%>:&nbsp;<i class="fa fa-cny"></i><%=(groupbuy.price*0.8).to_i %></span>
      </div>
    </div>    
    </small>
  </div>
  </div>
  <div class="row round">
    <div class="columns small-6">
      <%= "[No. #{groupbuy.id.to_s.rjust(10,'0')}]" %>     
    </div>
    <div class="columns small-3">
        <a href="#" class="show-participants" data-url="<%=groupbuy_participants_path(groupbuy)%>">
          <i class="fa fa-user-plus"></i>(<%=groupbuy.participants_count%>)</a>
        </a>
    </div>
    <div class="columns small-3">
        <a href="#" class="show-comments" data-url="<%=groupbuy_comments_path(groupbuy)%>">
          <i class="fa fa-comments"></i>(<%=groupbuy.comments_count%>)
        </a>
    </div>
    <div class="columns small-12">
    <%groupbuy.participants.limit(6).each do |p|%>
        <a href="#" class="show-comments">
         <img class="user-thumb" src="<%=p.user.avatar%>" alt="<%=p.user.nickname%>"/>
        </a>

    <%end%>
    </div>
</div>
  </div>


