<div class="groupbuy-list">
  <div class="row">
    <div class="columns small-4">
      <%= link_to groupbuy do %>
      <img src="<%= groupbuy.pic_url %>"/>
      <%end%>
    </div>
    <div class="columns small-8">

      <h4 class="groupbuy-name"><%= link_to groupbuy.title, groupbuy%></h4>
      
        <div class="row radius callout all-kinds-of-money">
          <div class="columns small-6 groupbuy-price" style="line-height:100%">
            <span class="price save"><i class="fa fa-cny"></i><%=groupbuy.price %></span><br>
           
            <small class="money">  <span class="price market"><i class="fa fa-cny"></i><%=(groupbuy.price*1.8).to_i %></span></small>
          </div>
          <div class="columns small-6">
            <span class="price save"><%=t(:save)%>:&nbsp;40%</span>
          </div>
        </div>           
    </div>
  </div>
   <div class="columns small-12">
    <div class="button-group expanded">
      <a href="#" class="show-participants button tiny secondary" data-url="<%=groupbuy_participants_path(groupbuy)%>">
          <i class="fa fa-user-plus"></i><%=t(:buy)%>(<%=groupbuy.participants_count%>)</a>
      <a href="#" class="show-participants button tiny secondary"  data-url="<%=groupbuy_comments_path(groupbuy)%>">
            <i class="fa fa-comments"></i><%=t(:new_comment)%>(<%=groupbuy.comments_count%>)
      </a>
    </div>
  </div>
 
</div>
<hr />


