<div class="groupbuy-list" data-endtime="<%= groupbuy.end_time.to_i %>" data-day="<%= t(:day) %>">
  <div class="row">
    <div class="columns small-4">
      <% if groupbuy.pic_url.present?
        @title_pic = groupbuy.pic_url.split(',').reject{|x| x.blank?}[0]
        @content_pic = groupbuy.pic_url.split(',').reject{|x| x.blank?}[1..-1]
      else
        photos = groupbuy.photos
        @title_pic = cut_pic photos.first || photos.try(:first).try(:image)
      #@content_pic = photos[1..-1]
      end %>
      <%= link_to groupbuy,class: "th" do %>
      <%= image_tag @title_pic %>

      <%end%>

    </div>
    <div class="columns small-8">

      <h4 class="groupbuy-name"><%= link_to current_title(groupbuy), groupbuy%></h4>

      <div class="row radius callout all-kinds-of-money">
        <div class="columns small-6 groupbuy-price" style="line-height:100%">
          <span class="price save"><i class="fa fa-cny"></i><%=groupbuy.current_price %>/<%=translate_of(groupbuy.goods_unit)%></span><br>

          <small class="money">  <span class="price market"><i class="fa fa-cny"></i><%=groupbuy.market_price %>/<%=translate_of(groupbuy.goods_unit)%></span></small>
        </div>
        <div class="columns small-6">
          <span class="price save"><%=t(:save)%>:&nbsp;<%= (((groupbuy.market_price - groupbuy.current_price) / groupbuy.market_price) * 100).round(2) %>%</span>
        </div>
      </div>

      <div class="countdown countdownlists">
      <span><i class="fa fa-clock-o"></i></span>
        <% if session[:locale] == 'zh' %>
        <span class='ct'>剩余</span>
        <% end %>
        <span class="countdonw-title"></span>
        <span class="countdown-day"></span>
        <span class="countdown-hour"></span>
        <span class="countdown-minute"></span>
        <span class="countdown-second"></span>
        <% if session[:locale] == 'en' %>
        <span class='ct'>LEFT</span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns small-12 list_button">
      <ul class="button-group even-2" >
        <li>
          <a href="#" class="<%= 'show-participants' if groupbuy.status>-1 %> button tiny secondary" data-url="<%=groupbuy_participants_path(groupbuy)%>">
            <i class="fa fa-user-plus"></i><%=t(:buys)%>(<%=groupbuy.participants_count.to_i%>)</a>
          </li>
          <li>
            <a href="#" class="show-participants button tiny secondary"  data-url="<%=groupbuy_comments_path(groupbuy)%>" data-id="<%= groupbuy.id %>" data-more="<%= t(:more) %>" data-controllername="groupbuys">
              <i class="fa fa-comments"></i><%=t(:comments)%>(<%=groupbuy.comments_count%>)
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
