<div class="row progress-bar-picture">
  <div class="columns small-12">

   <div class="row radius callout all-kinds-of-money">
        <div class="columns small-6 groupbuy-price" style="line-height:100%">
          <span class="price save"><i class="fa fa-cny"></i><%=groupbuy.groupbuy_price %>/<%=translate_of(groupbuy.goods_unit)%></span>
          <small class="money">  
            <span class="price market"><i class="fa fa-cny"></i><%=groupbuy.market_price %>/<%=translate_of(groupbuy.goods_unit)%></span>
          </small>
        </div>
        <div class="columns small-6">
          <span class="price save"><%=t(:save)%>:&nbsp;
          <%= (((groupbuy.market_price - groupbuy.groupbuy_price) / groupbuy.market_price) * 100).round(2) %>%</span>
        </div>
      </div>
    <div class="progress ">
      <span class="meter" style="width: <%=groupbuy.target_completed.first.to_f%>%"></span>
    </div>
    <div class='row'>
      <div class='columns small-4'>
        <div class="num"><%= groupbuy.target_completed.first %>%</div>
          <div><%= t(:ordered) %></div>
      </div>
      <div class='columns small-4'>
         <div class="num"><%= "#{groupbuy.target_completed.last} #{groupbuy.goods_unit}" %></div>
          <div><%= t(:Left) %></div>
      </div>
      <div class='columns small-4 groupbuy-target'>
      <%= t(:target) %> : <%= translate_of(groupbuy.goods_unit, groupbuy.target.to_i).html_safe %>
      </div>
    </div>


  </div>
</div>
