

<%= link_to groupbuy_path(real_groupbuy, tag: 'groupbuy') do %>
  <div class="row">
    <div class="columns small-4">
      <% if real_groupbuy.pic_url.present?
        @title_pic = real_groupbuy.pic_url.split(',').reject{|x| x.blank?}[0]
        @content_pic = real_groupbuy.pic_url.split(',').reject{|x| x.blank?}[1..-1]
      else
        photos = real_groupbuy.photos
        @title_pic = cut_pic photos.first || photos.try(:first).try(:image)
      #@content_pic = photos[1..-1]
      end %>
      <%= image_tag @title_pic, class: 'th' %>

    </div>
    <div class="columns small-8">

      <h4 class="groupbuy-name"><%= current_title(real_groupbuy)%></h4>

      <div class="row radius callout all-kinds-of-money">
        <div class="columns small-6 groupbuy-price" style="line-height:100%">
          <span class="price save"><i class="fa fa-cny"></i><%=real_groupbuy.groupbuy_price %>/<%=translate_of(real_groupbuy.goods_unit)%></span><br>

          <small class="money">  <span class="price market"><i class="fa fa-cny"></i><%=real_groupbuy.market_price %>/<%=translate_of(real_groupbuy.goods_unit)%></span></small>
        </div>
        <div class="columns small-6">
          <span class="price save"><%=t(:save)%>:&nbsp;<%= (((real_groupbuy.market_price - real_groupbuy.groupbuy_price) / real_groupbuy.market_price) * 100).round(2) %>%</span>
        </div>
      </div>
      
    </div>
  </div>
  <div class="row">
    <div class="columns small-12 list_button">
      <ul class="button-group even-2" >
        <li>
          <a href="#" class="<%= 'show-participants' if real_groupbuy.status>-1 %> button tiny secondary" data-url="<%=groupbuy_participants_path(real_groupbuy)%>">
            <i class="fa fa-user-plus"></i><%=t(:buys)%></a>
          </li>
          <li>
            <a href="#" class="show-comments button tiny secondary"  data-url="<%=groupbuy_comments_path(real_groupbuy)%>" data-id="<%= real_groupbuy.id %>" data-more="<%= t(:more) %>" data-controllername="groupbuys">
              <i class="fa fa-comments"></i><%=t(:comments)%>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <% end %>
