<div class="edit-groupbuy">
  <% if @pic.present? %>
  <% @pic.each do |pic| %>
  <div class="columns small-8 medium-6 large-4" data-id="<%= params[:id] %>" data-posturl="<%= groupbuys_destroy_pic_path %>">
    <%= image_tag pic %>
    <i class="fa fa-remove delete-pic"></i>
  </div>
  
  <% end %>

  <% end %>
  <% provide :title, t(:edit_groupbuy) %>
  <%= render 'form' %>
  <% if @photos.present? %>
  <% @photos.each do |photo| %>
  <div class="columns small-3 medium-2 large-1">
    <div class="dz-image" id="<%= photo.id %>">
      <div class="img">
        <%= image_tag photo.image %>
      </div>
      <div class="trash">
        <i class="fa fa-trash"></i>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
