<%
  case controller_name
    when 'forums'
      @forums_active = 'active'
    when 'users'
      @users_active = 'active'
    when 'events'
      @events_active = 'active'
    when 'searchs'
      @searchs_active = 'active'
    when 'topics' || 'comments'
      @topics_active = 'active'
  end
%>
<div class="icon-bar five-up" role="navigation" id="bottomNav">
  <a class="item <%=@forums_active%>" role="button" tabindex="0" aria-label="home" href="/">
    <i class="fa fa-home"></i>
  </a>
  <a class="item <%=@searchs_active%>" role="button" tabindex="0" aria-label="search" href='/search'>
    <i class="fa fa-search"></i>
  </a>
  <a class="item <%=@events_active%>" role="button" tabindex="0" aria-label="events" href='/events'>
    <i class="fa fa-calendar"></i>
  </a>
  <a class="item <%=@topics_active%>" role="button" tabindex="0" aria-label="coversations" href='/forums/<%=forum_id%>'>
    <i class="fa  fa-bullhorn"></i>
  </a>
  <%
    if current_user
      @user_url="/#{current_user.username}"
    else
      @user_url="/login"
    end
  %>
  <a class="item <%=@users_active%>" role="button" tabindex="0" aria-label="user" href='<%=@user_url%>'>
    <i class="fa fa-user"></i>
  </a>
 
</div>