<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=6HTcUtGlDjpH9MSrrW7Oc8Wf"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/library/AreaRestriction/1.2/src/AreaRestriction_min.js"></script>

  <title><%#= content_for?(:title) ? yield(:title) : t(:site_name) %>
    <%=t(:site_name) %>
  </title>

  <%= stylesheet_link_tag  "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "sweetalert.min"%>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <!--<script src="http://www.trade-v.com:5000/assets/jquery.self.js?body=1"></script>
<script src="http://www.trade-v.com:5000/assets/jquery_ujs.self.js?body=1"></script>-->
<script src="http://www.trade-v.com:5000/assets/jquery.iframe-transport.self.js?body=1"></script>
<script src="http://www.trade-v.com:5000/assets/jquery.remotipart.self.js?body=1"></script>
<script src="http://www.trade-v.com:5000/assets/foundation/foundation.self.js?body=1"></script>
<script src="http://www.trade-v.com:5000/assets/foundation/foundation.offcanvas.self.js?body=1"></script>
<script src="http://www.trade-v.com:5000/assets/foundation/foundation.tab.self.js?body=1"></script>
<!--<script src="http://www.trade-v.com:5000/assets/application.self.js?body=1" data-turbolinks-track="true"></script>-->
  

  <%= csrf_meta_tags %>
</head>

<body>
  <div class="body">
    <div class="off-canvas-wrap docs-wrap" data-offcanvas>
      <div class="inner-wrap">
        <%=render '/layouts/top_bar'%>
        <!-- main content goes here -->
        <article>
          <%= yield %>
          <%= yield :content %>
          <hr>
          <div class="large-12 columns">
            <footer id="footer">
              <div class="row">
                <div class="columns small-12" style="line-height: 100%">
                  <small> &copy; 2014 - <span id='copyright_year'></span>, <%=t(:site_name)%><br>
                   技术支持: <a target="_blank" href="http://www.trade-v.com/" title="上海普慧信息科技有限公司">上海普慧信息科技有限公司</a></small>
                   <script>
                    var myDate = new Date();
                    var currentYear = myDate.getFullYear();
                    document.getElementById('copyright_year').innerText=currentYear;
                  </script>
                </div>
              </div>
            </footer>
          </div>
        </article>
        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>
      </div>
    </div>
  </div>
  <%=render '/layouts/menu'%>

  
 
  <link rel="stylesheet" media="screen" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
  

  <script>
    $(function(){ $(document).foundation(); });

    $(".show-comments").on("click", function(event) {
      event.preventDefault();

      $(".comments").remove();
      $(".participants").remove();

      var url = $(this).data('url');
      htmlobj = $.ajax({url: url ,async:false});

      var obj = $(this).parent().parent();

      if (url.indexOf("forum")>0){
       obj = obj.parent();
     }
     obj.append('<div class="comments" style="margin:0px;padding:0px;">'+htmlobj.responseText+'</div>');

        // obj.append('<a href="#" class="close button tiny secondary right"><i class="fa fa-close"></i><%=t(:close)%></a>');
        // $(".comments").stop().animate({
        //     scrollTop: $(".comments")[0].scrollHeight
        // }, 200);
  });

    $(".show-participants").on("click",  function(event) {
      event.preventDefault();
      if($('.participants').length > 0) {
        $('.participants').remove();
        return;
      }

      $(".comments").remove();
      $(".participants").remove();

      var url = $(this).data('url');
      var id = $(this).data('id');
      var more = $(this).data('more');
      var controllerName = $(this).data('controllername');
      var linkUrl = "/" + controllerName + '/' + id;
      htmlobj = $.ajax({url: url ,async:false});
      $(this).parent().parent().append('<div class="participants" style="margin:0px;padding:0px;">'+htmlobj.responseText+'</div>');
      //$(this).parent().parent().append('<div class="more"><a href=' + linkUrl + '></a></div>');
    });

    // 防止数量输入非正整数
    $('body').on('change', '.participant-number', function(){
      var that = $(this);
      var num = that.val();
      if(num < 1 || isNaN(num) || num % 1 != 0) {
        that.val(1);
        var errmsg = that.data('errmsg');
        alert(errmsg);
      }
    });

    //点击more加载更多评论
    var times = 2;
    $('.more-comments').on('click', function(){
      var url = $(this).data('url');
      var start = (times - 1) * 10;
      var over = times * 10;
      var parent = $(this).data('parent');
      var id = $(this).data('id');
      var count = $(this).data('count');
      $.ajax({
        url: url,
        type: 'post',
        data: {
          start: start,
          over: over,
          parent: parent,
          id: id
        },
        success: function(e){
          $(".comments-list").append(e);
        }
      });
      times += 1;
      console.log(count);
      console.log(over);
      if(over > count) {
        $(this).text('<%=t(:nomore)%>');
        $(this).unbind('click');
      }
    });

  </script>
  <%= javascript_include_tag params[:controller] %>
</body>
</html>
