<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />

    <title><%#= content_for?(:title) ? yield(:title) : t(:site_name) %>
          <%=t(:site_name) %>
    </title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <script type="text/javascript" src="/assets/sweetalert.min.js"></script>
    <link rel="stylesheet" media="screen" href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="body">
      <div class="off-canvas-wrap docs-wrap" data-offcanvas>
        <div class="inner-wrap">
          <%=render '/layouts/top_bar'%>
          <!-- main content goes here -->
          <article>
              <%= yield %>
              <%= yield :content %>
               <hr>
         <!--  <div class="large-12 columns">
            <footer id="footer">
              <div class="row">
                  <div class="columns small-12">
                    <small> &copy; 2014 - <span id='copyright_year'></span>, <%=t(:site_name)%><br>                    
                     技术支持: <a target="_blank" href="http://www.trade-v.com/" title="上海普慧信息科技有限公司">上海普慧信息科技有限公司</a></small>
                     <script>
                        var myDate = new Date();
                        var currentYear = myDate.getFullYear(); 
                        document.getElementById('copyright_year').innerText=currentYear;
                    </script> 
                  </div>
              </div>
            </footer>
          </div> -->
          </article>
          <!-- close the off-canvas menu -->
          <a class="exit-off-canvas"></a>
      

        </div>
      </div>
    </div>  
   
    <%=render '/layouts/menu'%>  

   
    <%#= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%#= javascript_include_tag "application"%>
    <script src="/assets/jquery.self.js?body=1"></script>
    <script src="/assets/jquery_ujs.self.js?body=1"></script>
    <script src="/assets/foundation/foundation.self.js?body=1"></script>
    <script src="/assets/foundation/foundation.clearing.self.js?body=1"></script>
    <script src="/assets/foundation/foundation.dropdown.self.js?body=1"></script>
    <script src="/assets/foundation/foundation.offcanvas.self.js?body=1"></script>
    <script src="/assets/foundation/foundation.tab.self.js?body=1"></script>

    <%= javascript_include_tag controller_name%>

    <script>
      $(function(){ $(document).foundation(); });

      $(".show-comments").on("click", function(event) {
        event.preventDefault();
        $(".comments").remove();
        $(".participants").remove();
        
        var url = $(this).data('url');
        htmlobj = $.ajax({url: url ,async:false});
        var obj = $(this).parent().siblings();

        if (url.indexOf("event")>0 || url.indexOf("groupbuy")>0){
           obj = $(this).parent().parent();
        }
        obj.append('<div class="comments">'+htmlobj.responseText+'</div>');
      
        // $(".comments").stop().animate({
        //     scrollTop: $(".comments")[0].scrollHeight
        // }, 200);
      });

      $(".show-participants").on("click",  function(event) {
        event.preventDefault();

        $(".comments").remove();
        $(".participants").remove();

        var url = $(this).data('url');
        htmlobj = $.ajax({url: url ,async:false});
        $(this).parent().parent().append('<div class="participants">'+htmlobj.responseText+'</div>');      
      });

    </script>
  </body>
</html>
